1 ICON "app_icon.ico"

PLAY_PNG RCDATA "play.png"
PAUSE_PNG RCDATA "pause.png"
STOP_PNG RCDATA "stop.png"
CLOSE_PNG RCDATA "close.png"
MINIMIZE_PNG RCDATA "minimize.png"
MAXIMIZE_PNG RCDATA "maximize.png"
LOGO_PNG RCDATA "logo.png"
STAR_FILLED_PNG RCDATA "star_filled.png"
STAR_EMPTY_PNG RCDATA "star_empty.png"
PREV_PNG RCDATA "prev.png"
NEXT_PNG RCDATA "next.png"
TAB_DASH_PNG RCDATA "tab_dash.png"
TAB_MIDI_PNG RCDATA "tab_midi.png"
TAB_SETTINGS_PNG RCDATA "tab_settings.png"
LOOP_PNG RCDATA "loop.png"
LOAD_PNG RCDATA "load.png"
QUEUE_PNG RCDATA "queue.png"
UPLOAD_MIDI_PNG RCDATA "upload_midi_button.png"
CLEAR_QUEUE_PNG RCDATA "clear_queue_button.png"
SHUFFLE_BTN_PNG RCDATA "shuffle_button.png"
RESET_HOTKEYS_PNG RCDATA "reset_hotkeys_button.png"
ROBLOX_LAUNCH_PNG RCDATA "roblox_launch_button.png"
DISCORD_PNG RCDATA "discord.png"
GITHUB_PNG RCDATA "github.png"
INSTAGRAM_PNG RCDATA "instagram.png"
